Mikroblog is powered by or utilises:

* [builder](http://builder.rubyforge.org/)
* [dorothy](http://github.com/cloudhead/dorothy)
* [erb](http://ruby-doc.org/stdlib/libdoc/erb/rdoc/classes/ERB.html)
* [git](http://git-scm.com/)
* [markdown](http://daringfireball.net/projects/markdown/)
* [rack](http://rack.rubyforge.org/)
* [rake](http://rake.rubyforge.org/)
* [toto](http://github.com/cloudhead/toto)
