<p>Mikroblog is not just a blog, it's place for art and web experiments.</p>
<p>Mikroblog is powered by or utilises:</p>
<ul>
<li><a href="http://builder.rubyforge.org">builder</a></li>
<li><a href="http://github.com/cloudhead/dorothy">dorothy</a></li>
<li><a href="http://ruby-doc.org/stdlib/libdoc/erb/rdoc/classes/ERB.html">erb</a></li>
<li><a href="http://git-scm.com">git</a></li>
<li><a href="http://daringfireball.net/projects/markdown">markdown</a></li>
<li><a href="http://rack.rubyforge.org">rack</a></li>
<li><a href="http://rake.rubyforge.org">rake</a></li>
<li><a href="http://github.com/cloudhead/toto">toto</a></li>
</ul>
