<p>My name is Dave Goodchild. I am a writer, blogger, film maker and programmer.</p>

<p>I am immersed in the social media scene with a heavy interest in human language and the development of journalism and content in the digital age. I occasionally post at journalism.co.uk and am usually building or writing something. I you want to talk or discuss a project, follow me and send me a message, or contact me through this site.</p>

<p>I shoot film on the Canon 500D but also experiment with a variety of devices and techniques. I am about to start a short piece based on Icelandic mythology.</p>

<p>As a developer, I love Ruby. I primarily develop web applications using Rails and Sinatra and was responsible for assisting in the very first rubyinthepub, a hookup for journalists and developers which has since mutated into the successful UK arm of hackshackers, with attendees from the Times, Guardian and New York Times. Some of the applications I built or co-built have been featured on the BBC Outriders podcast . My deployment platform of choice is the spellbinding Heroku.</p>

<p>On the word front, I am influenced by many, many people - not just writers but musicians, painters, comic book artists, computer programmers, bloggers and the mascara snakes of the avant garde. I think life love and language is there for the taking. At the moment I am reading The Scar by China Mieville and We The Media by Dan Gillmor.</p>
