<object data="http://boos.audioboo.fm/swf/playlist_player.swf" height="450" type="application/x-shockwave-flash" width="500"><param name="movie" value="http://boos.audioboo.fm/swf/playlist_player.swf"><param name="scale" value="noscale"><param name="salign" value="TL"><param name="align" value="left"><param name="allowScriptAccess" value="always"><param name="wmode" value="transparent"><param name="quality" value="best"><param name="FlashVars" value="rssURL=http://audioboo.fm/users/229/boos.atom"><param name="loop" value="false"><param name="allowFullScreen" value="false"><a href="http://audioboo.fm/buddhamagnet">Listen on audioboo.fm!</a></object>
