<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title><%= title %></title>
  </head>
  <body>
	<p>Mikroblog is powered by or utilises:</p>
	<ul id="about">
	<li><a href="http://builder.rubyforge.org">builder</a></li>
	<li><a href="http://github.com/cloudhead/dorothy">dorothy</a></li>
	<li><a href="http://ruby-doc.org/stdlib/libdoc/erb/rdoc/classes/ERB.html">erb</a></li>
	<li><a href="http://git-scm.com">git</a></li>
	<li><a href="http://daringfireball.net/projects/markdown">markdown</a></li>
	<li><a href="http://rack.rubyforge.org">rack</a></li>
	<li><a href="http://rake.rubyforge.org">rake</a></li>
	<li><a href="http://github.com/cloudhead/toto">toto</a></li>
	</ul>
    <section>
      <%= yield %> 
    </section>
    <footer>
      content by <a href="http://twitter.com/buddhamagnet">@buddhamagnet</a> who also blogs <a href="http://kaleidopunk.com">here</a> - powered by <a href="http://cloudhead.io/toto">toto</a>
    </footer>
  </body>
</html>

