<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title><%= title %></title>
  </head>
  <body>
    <header>Kaleidopunk - distributed blogging</header>
    <section>	    
    </section>
      <p>I am <a href="http://twitter.com/buddhamagnet">@buddhamagnet</a>. I built this engine. It is minimal. A paper house for my words.</p>
    <section>
      <%= yield %> 
    </section>
    <footer>
      2011 all rights absurd
    </footer>
  </body>
</html>

