<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= title %> - feed" href="/index.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title><%= title %></title>
  </head>
  <body>
    <header>Kaleidopunk - distributed blogging</header>
    <section>	    
    </section>
      <nav>
        <a href="/me">me</a> |    
        <a href="/">blog</a> |    
        <a href="/geo">geo</a> |  
        <a href="/git">git</a> |  
        <a href="/image">image</a> |   
        <a href="/lab">lab</a> |   
        <a href="http://twitter.com/buddhamagnet">tweet</a> | 
        <a href="/sonik">sonik</a> | 
        <a href="/vid">vid</a> | 
      </nav>
    <section>
      <%= yield %> 
    </section>
    <footer>
      2011 all rights absurd
    </footer>
  </body>
</html>

